// Variable overrides
$color1:#044482;
$color2:#dd3d2c;
$color3:#1985ac ;
$colorError:#dd4b39;





// Variable overrides
// $color1:#00395C;
// $color2:#E2005A;
// $color3:#00B4CE ;
// $colorError:#E2005A;